{% extends 'base.html' %}

{% block content %}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            <a class="imdb" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on douban.com">豆瓣</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="logo2" class="logo2" src="{{ url_for('static', filename='images/logo2.png') }}" title="Rock～is～God！">
{% endblock %}